.modal-container{
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
}

.modal-overlay{
  width: 100%;
  height: 100%;
  background-color: darkgray;
  opacity:0.5;
}

.modal{
  width: 50%;
  height: 50%;
  position: absolute;
  top: 15%;
  left: 24%;
  background-color: white;
  opacity: 1;
  border: 15px solid white;
}

.modal-image{
  width:100%;
  height: 100%;
}

.close-modal {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 56px;
  color: white;
  opacity: 0.3;
  cursor: pointer;
}

.modal-previous-button,
.modal-next-button{
  position: absolute;
  top: 40%;
  color: white;
  font-size: 72px;
  cursor: pointer;
  opacity: 0.3;
}

.modal-previous-button{
  left: 10px;
}
.modal-next-button{
  right: 10px;
}

.close-modal:hover,
.modal-previous-button:hover,
.modal-next-button:hover{
  opacity: 0.9
}